* {
  font-family: 'Lora', serif;
}


.intro {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

.navbar-custom {
  background-color: rgba(86, 86, 87, 1);
  border-color: rgba(86, 86, 87, 1);
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: lightCoral;
}

body {
    background: url("http://www.british-coast-maps.com/map-glasgow.jpg");
    background-position: center;
    background-attachment: fixed;
    text-align: center;

}


.text {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8)
}

.pictures {
  margin-top: 20px;

}

h1 {
  color: rgba(255, 0, 0, 0.5);
  font-weight: bold;
  font-size: 60px;
}
h2 {
  color: rgba(255, 0, 0, 0.5);
}
p {
  color: rgba(86, 86, 87, 1);
}


.email {
  text-align: center;
  padding: 20px;
  background: rgba(211,211,211, 0.8);
  color: white;
  margin-top: 20px;
}


.subscribe {
  color: white;
  font-size: 20px;
}


.sub {
  color: rgba(255, 0, 0, 0.5);
}

.bg-img1 {
  margin-bottom: 20px;
}
