

.intro {
  background-color: white;

}
.whole_page {
  background-image: url('../images/map-glasgow.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  text-align: center;
}

}
#header {
  font-size: 60px;
  color: black;
  opacity: 1.0;
}

.btn-twitter {
  background: #00ce;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}
#social-buttons button {
  color: white;
  padding-bottom: 10px;
}


.email {
  text-align: center;
  padding: 10px;
}
.subscribe {
  color: white;
  font-size: 20px;
}
